.media-object.news_pic {
	width: 100px;
}

.media-object#recipe_pic {
	width: 180px;
}



td.newspost-title {
	font-weight: bold;
}

em.newspost-descr {
	font-weight: normal;
}

#avatar.media-object {
	width: 60px;
	height: 60px;
}
h4, h5, p {
	margin-left: 10px;
}

small#posted_on{
	font-style: italic;
}

