.media-object.news_pic{width:100px;}
.media-object#recipe_pic{width:180px;}
td.newspost-title{font-weight:bold;}
em.newspost-descr{font-weight:normal;}
#avatar.media-object{width:60px;height:60px;}
h4, h5, p{margin-left:10px;}
small#posted_on{font-style:italic;}
ol.step-list{counter-reset:li;margin-left:0;padding-left:0;}
ol.step-list > li{background-color:#dedede;border-radius:0px 15px 15px 0px;position:relative;margin:15px;margin-top:15px;margin-bottom:19px;margin-left:40px;padding:10px;padding-top:15px;padding-bottom:15px;padding-left:30px;list-style:none;font-size:16px;}
ol.step-list > li:before{border-radius:15px 0px 0px 15px;content:counter(li);counter-increment:li;position:absolute;top:-2px;left:-2em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:2em;margin-left:8px;margin-right:10px;margin-top:2px;padding:4px;padding-top:7px;padding-bottom:8px;color:#fff;background:#b8b8b8;font-weight:bold;font-family:"Helvetica Neue", Arial, sans-serif;font-size:26px;text-align:center;}
li.step ol.step-list,
li.step ul.step-list{margin-top:6px;}
ol.step-list li.step:last-child{margin-bottom:0;}